html{
    height: 100%;
}

header {
    justify-content: center;
    align-items: center;
    background-color: #81a7c0;
    color: #ffffff;
    padding: 10px;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/*bandeau des pages*/
h1 {
    font-size: 50px;
    text-align: center;

}
/*Paragraphe*/
p{
   font-size: 20px;
    margin: 30Px;
}

label {
    margin: 30px;
    font-size: 20px;
}
nav {
    width: 100%;
    align-items: center;

}
.p1{
    position: relative;
    margin-left: 88%;
}
/*Ecriture sur les objets en première page*/
.p2{
    text-decoration: underline;
}
.searchbar{
  margin-left: 30px;

    
}
#searchbar{
  border-radius: 20px;
  
}
/*Titres des pages*/
h2 {     
    font-size: 50px;
    text-align: center;
}


h3 {
    margin: 30Px;
    font-size: 50px;
}

h4 {
    font-size: 30px;
    text-align: center;
}

/*images*/
img {
    width: 400px;
    height: auto;
    justify-items: auto;
}
/*image du Rocket stove*/
.img2{
    width: 300px;
}

/*Champ de la création de compte*/

section {
    text-align: center;
    font-size: 20px;
}  

.container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.container2 {   
    margin: 0px 0px 20px 20px;
   
}
/*Contenus de Enchères et s'incrire page accueil*/
.content{
    column-count: 2;
}
div{
    display: block;
}
/*Contenus de la recherche page d'accueil*/
.content2{
    column-count: 2;
    display: flex;
    flex-direction: row;        
}
.gauche{
    padding-top: 30px;
    padding-left: 650px;
    padding-right: 0%;
    column-width: 50%;
    float: left;
}
.droite{
    padding-right: 600px;
    float: right;
    column-width: 50%;
}

/*photos et commentaires de la page d'accueil*/
.content3{
    margin-top: 5px;
    column-count: 2;
    margin: 5px; 
}

/*boutons*/
.button { 
    background-color: white;
    border-radius: 7px;
    box-sizing: content-box;
    box-shadow: 6px 6px grey;
    border: 4px, black;
    font-size: 30px;   
    padding: 5px;
}
.button:hover{    
    background-color: grey;
    color: white;
  
}
/*boutons*/
.button2 {
    background-color: white;
    border-radius: 7px;
    border: 4px, black;
    font-size: 50px;    
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    box-shadow: 6px 6px grey;
    margin: 10px;    
}
.button2:hover {
    background-color: grey;
    color: white;
}

.element1 {
    width: 98%;
    padding:0 0 10px 10px;
    float:right;
    height:100%;
}

.element2 {
    width: 98%;
    padding:0 0 10px 10px;
    float:left;
    height:100%;
}
/*couleur de "S'inscrire - Se connecter"*/
a {
    color:black
}
a:hover {
    color: blue;
}

.div2{
    text-align: right;
    padding-right: 30px;
    padding-top: 50px;
}

.deroulant > a::after{
    content: "";
    font-size: 12px;
}

footer {
    display: right;
    justify-content: right;
    padding: 0;
    align-items: center;
    background-color: #81a7c0;
    color: #ffffff;
    font-style: italic;
}
.footer {
    padding: 50px;
}

/*Informations dans le footer*/
.p3 {
    padding: 0;
    text-align: end;    
}